<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<!-- https://api.jqueryui.com/resources/icons-list.html -->

<h:head>
	<!-- con este tag busca automaticamente en /webapp/resources -->
	<h:outputStylesheet library="css" name="estilos.css"/>
	<title><ui:insert name="titulo">MiniBlog - Inicio</ui:insert></title>
	<f:event listener="#{masterBean.verificarSesion()}" type="preRenderView"></f:event>
</h:head>

<body class="resolucion">
	<ui:insert name="header"></ui:insert>
		<p:menubar autoDisplay="false">
			<p:menuitem icon="ui-icon-home" value="Inicio" url="/protegido/principal.xhtml"/>
			<p:menuitem icon="ui-icon-person" value="Publicaciones" url="/protegido/publicaciones.xhtml"/>
			
			<p:submenu icon="ui-icon-person" label="Seguidores">
				<p:menuitem icon="ui-icon-person" value="Mis Seguidores" url="/protegido/me_sigue.xhtml"/>
				<p:menuitem icon="ui-icon-person" value="¿A quien seguir?" url="/protegido/seguir.xhtml"/>	
			</p:submenu>
			
			<p:submenu icon="ui-icon-pencil" label="Mantenedores">
				<p:menuitem icon="ui-icon-document" value="Personas" url="/protegido/personas.xhtml"/>
				<p:menuitem icon="ui-icon-document" value="Usuarios" url="/protegido/usuarios.xhtml"/>
				<p:menuitem icon="ui-icon-document" value="Roles" url="/protegido/roles.xhtml"/>
				<p:menuitem icon="ui-icon-document" value="Asignar Roles" url="/protegido/asignar.xhtml"/>			
			</p:submenu>
			
			<p:menuitem icon="ui-icon-print" value="Seguidores" url="/protegido/rep_seguidores.xhtml"/>
			
			<f:facet name="options">
				<p:commandButton icon="ui-icon-power" url="./../index.xhtml" actionListener="#{masterBean.cerrarSesion()}"/>
			</f:facet>
		</p:menubar>
	<ui:insert name="content"></ui:insert>
	<ui:insert name="footer">
		<div>Copyrigth © MGATTI 2019. Todos los derechos reservados</div>
	</ui:insert>
</body>

</html>