<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

<ui:composition template="/WEB-INF/templates/master.xhtml">
	<ui:define name="content">
		<h1>Asignar roles</h1>
		<h:form>
			<p:growl autoupdate="true" showDetail="true" />
			<p:outputLabel for="id_usuario" value="Usuario: " />
			<!-- Necesario el uso de Omnifaces para evitar error en el selectOnMenu -->
			<p:selectOneMenu id="id_usuario" value="#{asignarBean.usuario}" converter="omnifaces.SelectItemsConverter">
				<f:selectItem itemLabel="---Seleccione---" itemValue="#{null}" noSelectionOption="true" />
				<f:selectItems value="#{asignarBean.usuarios}" var="u" itemValue="#{u}" itemLabel="#{u.usuario}" />
			</p:selectOneMenu>

			<p:pickList id="pickListRoles" value="#{asignarBean.roles}" var="r" itemValue="#{r}" itemLabel="#{r.tipo}">
				<o:converter converterId="omnifaces.ListIndexConverter" list="#{asignarBean.roles.source}" />
			</p:pickList>

			<p:commandButton value="Asignar" actionListener="#{asignarBean.asignar()}" />
		</h:form>
	</ui:define>
</ui:composition>

</html>