<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/master.xhtml">

	<ui:define name="content">
		<h1>Personas</h1>
		<h:form id="frm" enctype="multipart/form-data">
			
			<p:commandButton value="Nuevo" 
				oncomplete="PF('nuevaPersona').show();"
				actionListener="#{personaBean.limpiarControles()}"
				update="frm:dlgPersona" process="@this"/> <!-- process="@this"para que se procese solo el y no todo el formulario -->

			<p:dataTable id="dt" var="p" value="#{personaBean.personas}"
				paginator="true" rows="5" rowsPerPageTemplate="5,10,15"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
				
				<p:column headerText="Nombres completos">
					<p:outputLabel value="#{p.nombres} #{p.apellidos}"/>
				</p:column>
				
				<p:column headerText="Sexo">
					<p:outputLabel value="#{p.sexo}"/>
				</p:column>
				
				<p:column headerText="País">
					<p:outputLabel value="#{p.pais}"/>
				</p:column>
				
				<p:column headerText="Acciones" exportable="false">
					<p:commandLink actionListener="#{personaBean.mostrarData(p)}" oncomplete="PF('nuevaPersona').show();" update="frm:dlgPersona" immediate="true" process="@this">
						<h:graphicImage library="images" name="edit16.png" />
					</p:commandLink>				
				</p:column>
			</p:dataTable>

			<p:dialog id="dlgPersona" header="#{personaBean.tipoDialog}" widgetVar="nuevaPersona"
				modal="true" closeOnEscape="true" resizable="false" draggable="true">
				<h:panelGrid id="pg" columns="3">
					<p:outputLabel for="txtNombres" value="Nombres" />
					<p:inputText id="txtNombres" required="true"
						value="#{personaBean.persona.nombres}" />
					<p:message for="txtNombres" display="icon" />

					<p:outputLabel for="txtApellidos" value="Apellidos" />
					<p:inputText id="txtApellidos" required="true"
						value="#{personaBean.persona.apellidos}" />
					<p:message for="txtApellidos" display="icon" />

					<p:outputLabel for="optSexo" value="Sexo" />
					<p:selectOneRadio id="optSexo" required="true"
						value="#{personaBean.persona.sexo}">
						<f:selectItem itemLabel="Masculino" itemValue="M" />
						<f:selectItem itemLabel="Femenino" itemValue="F" />
					</p:selectOneRadio>
					<p:message for="optSexo" display="icon" />

					<p:outputLabel for="cboPais" value="Pais" />
					<p:selectOneMenu id="cboPais" filter="true"
						filterMatchMode="contains" required="true"
						value="#{personaBean.persona.pais}">
						<f:selectItem noSelectionOption="true" value="#{null}"
							itemLabel="--Seleccione--" />
						<f:selectItems value="#{paisDTO.paises}" var="p" itemLabel="#{p}"
							itemValue="#{p}" />
					</p:selectOneMenu>
					<p:message for="cboPais" display="icon" />

					<p:outputLabel for="txtDireccion" value="Direccion" />
					<p:inputTextarea id="txtDireccion" counter="display" rows="5"
						cols="30" maxlength="250"
						counterTemplate="{0} caracteres restantes." autoResize="false"
						required="true" value="#{personaBean.persona.direccion}" />
					<p:message for="txtDireccion" display="icon" />

					<h:column />
					<h:outputText id="display" />
					<h:column />

					<p:outputLabel for="fUpFoto" value="Foto" />
					<p:fileUpload id="fUpFoto"
						fileUploadListener="#{personaBean.handleFileUpload}"
						uploadLabel="Subir" cancelLabel="Cancelar" dragDropSupport="true"
						update="messages,img" sizeLimit="1000000"
						allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
					<p:growl id="messages" showDetail="true" />
					<p:message for="fUpFoto" display="icon" />	
					
					<p:graphicImage id="img" value="/imagen/#{personaBean.persona.id}?t=#{now.time}" width="120" heigth="120" rendered="#{personaBean.persona.foto!=null}"/> 
				</h:panelGrid>
				
				<p:commandButton value="Registrar" ajax="true"
					actionListener="#{personaBean.operar('R')}"
					oncomplete="if(args &amp;&amp; !args.validationFailed) PF('nuevaPersona').hide()"
					update ="pg, dt"
					rendered="#{personaBean.tipoDialog=='Nueva Persona'}" />
				
				<p:commandButton value="Modificar" ajax="true"
					actionListener="#{personaBean.operar('M')}"
					oncomplete="if(args &amp;&amp; !args.validationFailed) PF('nuevaPersona').hide()"
					update ="pg, dt"
					rendered="#{personaBean.tipoDialog=='Modificar Persona'}" />
			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>

</html>