<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui">

<h:head></h:head>
<body>
	<ui:composition template="/WEB-INF/templates/master.xhtml">
		<ui:define name="content">
			<h1>Roles</h1>
			<h:form id="form">
				<p:growl id="msgs" showDetail="true" showSummary="true" />
				<p:dataTable value="#{rolBean.roles}" var="r" editable="true">
					<f:facet name="header">
			        	Edición de Roles   
			        </f:facet>
			        
					<p:ajax event="rowEdit" listener="#{rolBean.onRowEdit}"
						update=":form:msgs" />
					<p:ajax event="rowEditCancel" listener="#{rolBean.onRowCancel}"
						update=":form:msgs" />

					<p:column headerText="ID" filterBy="#{r.id}" footerText="contains" filterMatchMode="contains">
						<p:outputLabel value="#{r.id}" />
					</p:column>

					<p:column headerText="Rol" filterBy="#{r.tipo}" footerText="contains" filterMatchMode="contains">
						<p:cellEditor>
							<f:facet name="output">
								<p:outputLabel value="#{r.tipo}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{r.tipo}" />
							</f:facet>
						</p:cellEditor>
					</p:column>

					<p:column style="width: 32px">
						<p:rowEditor />
					</p:column>
				</p:dataTable>
			</h:form>
		</ui:define>
	</ui:composition>
</body>
</html>
