<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/master.xhtml">

	<ui:define name="content">
		<h1>Usuarios</h1>
		<h:form id="frmUsuarios">
			<p:growl id="msgs" showDetail="true" />

			<h:panelGrid columns="3" style="margin:10px 0">
				<p:outputLabel for="strUsuarioBusqueda" value="Usuario(s) a buscar:"
					style="font-weight:bold" />
				<p:inputText id="strUsuarioBusqueda"
					value="#{usuarioBean.usuarioBusqueda}" size="50" />
				<p:commandButton update="usuarios" value="Buscar"
					icon="ui-icon-refresh" action="#{usuarioBean.recuperarUsuarios()}"
					process="@parent" />
				<p:tooltip id="toolTipGrow" for="strUsuarioBusqueda"
					showEffect="clip" hideEffect="explode" position="top"
					value="Permite utilizar los caracteres especiales ( '_' o '%') para buscar patrones." />
			</h:panelGrid>

			<p:dataTable id="usuarios" var="usu" value="#{usuarioBean.usuarios}"
				selectionMode="single"
				selection="#{usuarioBean.usuarioSeleccionado}" rowKey="#{usu.id}"
				paginator="true" rows="5" rowsPerPageTemplate="5,10,15"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

				<f:facet name="header">
		            Usuarios
		        </f:facet>

				<p:ajax event="rowSelect" listener="#{usuarioBean.onRowSelect}"
					update=":frmUsuarios:msgs" />
				<p:ajax event="rowUnselect" listener="#{usuarioBean.onRowUnselect}"
					update=":frmUsuarios:msgs" />

				<p:column headerText="Usuario">
					<h:outputText value="#{usu.usuario}" />
				</p:column>
				<p:column headerText="Estado">
					<h:outputText value="#{usu.estado == 'A' ? 'Activo' : 'Inactivo'}" />
				</p:column>

				<f:facet name="footer">
					<p:commandButton icon="ui-icon-search" value="Editar"
						actionListener="#{usuarioBean.initDialogUsuario()}"
						update=":frmUsuario:dlgUsuario"
						oncomplete="PF('modificarClaveUsuario').show()" />
				</f:facet>
			</p:dataTable>
		</h:form>

		<h:form id="frmUsuario">
			<p:growl id="msgsUsuario" showDetail="true" />
			<p:dialog id="dlgUsuario" closeOnEscape="true"
				header="#{usuarioBean.tituloVentanaUsuario}"
				widgetVar="modificarClaveUsuario" modal="true" resizable="false"
				draggable="true">

				<h:panelGrid id="pgUsuario" columns="4">
					<p:outputLabel for="txtUsuario" value="Usuario" />
					<p:inputText id="txtUsuario" required="true" disabled="true"
						value="#{usuarioBean.usuarioSeleccionado.usuario}" />
					<h:column />
					<p:message for="txtUsuario" display="icon" />

					<p:outputLabel for="txtClaveActual" value="Contraseña actual"
						rendered="#{!usuarioBean.verificacionOK}" />
					<p:password id="txtClaveActual" required="true"
						rendered="#{!usuarioBean.verificacionOK}"
						value="#{usuarioBean.usuarioSeleccionado.contraseña}" />
					<p:commandButton value="Verificar"
						rendered="#{!usuarioBean.verificacionOK}"
						action="#{usuarioBean.verificar()}"
						update=":frmUsuario:msgsUsuario,:frmUsuario:pgUsuario,:frmUsuario:pgBotones,:frmUsuario:pgClaves" />
					<p:message for="txtClaveActual" display="icon" />
				</h:panelGrid>

				<h:panelGrid id="pgClaves" columns="3">
					<p:outputLabel for="pwd1" value="Nueva Contraseña" />
					<p:password id="pwd1" match="pwd2" label="Password 1"
						feedback="true" inline="true"
						disabled="#{!usuarioBean.verificacionOK}" required="true"
						validatorMessage="Contraseñas no coinciden"
						value="#{usuarioBean.usuarioSeleccionado.contraseña}" />
					<p:message for="pwd1" display="icon" />

					<p:outputLabel for="pwd2" value="Repetir Contraseña" />
					<p:password id="pwd2" label="Password 2" required="true"
						feedback="true" inline="true"
						disabled="#{!usuarioBean.verificacionOK}"
						value="#{usuarioBean.usuarioSeleccionado.contraseña}" />
					<p:message for="pwd2" display="icon" />
					<h:column />
				</h:panelGrid>

				<h:panelGrid id="pgBotones" columns="2">
					<p:commandButton value="Aceptar"
						action="#{usuarioBean.actualizarContraseña()}"
						update=":frmUsuario:msgsUsuario,:frmUsuario:pgClaves"
						oncomplete="if(args &amp;&amp; !args.validationFailed) PF('modificarClaveUsuario').hide()"
						disabled="#{!usuarioBean.verificacionOK}" />
					<p:commandButton value="Cancelar"
						oncomplete="PF('modificarClaveUsuario').hide()" />
				</h:panelGrid>

			</p:dialog>
		</h:form>
	</ui:define>
</ui:composition>

</html>